<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	    <title>Arris Monitor 2.0</title>
        <script type="text/javascript" src="static/vendor/smoothie.js"></script>
        <script type="text/javascript" src="static/arris_mon.js"></script>
    </head>
    <body>
        <h4> Downstream </h4>
        <table border="2" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>SNR</td>
                    <td><canvas id="downstream_snr" width="800" height="200"></canvas></td>
                    <td id="downstream_snr_legend" valign="top"/>
                </tr>
                <tr>
                    <td>Power</td>
                    <td><canvas id="downstream_power" width="800" height="200"></canvas></td>
                    <td id="downstream_power_legend" valign="top"/>
                </tr>
            </tbody>
        </table>

        <h4> Upstream </h4>
        <table border="2" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>Power</td>
                    <td><canvas id="upstream_power" width="800" height="200"></canvas></td>
                    <td id="upstream_power_legend" valign="top"/>
                </tr>
            </tbody>
        </table>

        <p>
            <a id="start_btn" href="">[Run]</a>
            <a id="reset_btn" href="">[Reset]</a>            
        </p>

        <script>
            (function() {
                arris_mon.init("static/arris_mon.init.json");
            })();
        </script>
    </body>
</html>